<app-header></app-header>
<div class="container-fluid content">
  <div class="filters">
    <div class="btn-group" style="margin-left: 99%;">
      <button class="btn btn-sm btn-secondary" (click)="toggleFilters()">
    {{ filtersCollapsed ? '+' : '-' }}
</button>


    </div>
    <label>Filtros:</label>
    <div class="row" *ngIf="!filtersCollapsed">

      <ng-container *ngFor="let column of columns; let i = index">
        <div class="col-2">
          <label>
            <input
              type="checkbox"
              [(ngModel)]="column.checked"
              (ngModelChange)="applyFilters()"
            />
            {{ column.name }}
          </label>
        </div>
        <div class="clearfix" *ngIf="(i + 1) % 5 === 0"></div>
      </ng-container>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th *ngFor="let column of filteredColumns">{{ column.name }}</th>
        <th>Editar</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of filteredData; let i = index">
        <td *ngFor="let column of filteredColumns">
          {{ item[column.field] }}
        </td>
        <td>
          <button class="btn btn-sm btn-success" [routerLink]="['/edit',item.id]" style=" margin-top: 15%;  text-decoration: none;">Editar</button>
        </td>



      </tr>
    </tbody>
  </table>
</div>
<app-footer></app-footer>
<router-outlet></router-outlet>
